/* All style should go in this document. */
.name{
	text-align: center;
}

.contact{
	border-top-width: 1px;
	border-top-style: solid;
	border-top: thick double #607D8B;
}

.contact h2{
	display: inline-block;
}

.contact p{
	display: inline-block;
	text-align: center;
	padding-left: 6%;
}

.education{
	width: 100%;
	/*background-color: red;*/
	border-top-width: 1px;
	border-top-style: solid;
	border-top: thick double #607D8B;
}

.experience{
	border-top-width: 1px;
	border-top-style: solid;
	border-top: thick double #607D8B;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom: thick double #607D8B;
}

.title{
	/*background-color: pink;*/
	text-align: left;
	display: inline-block;
	font-weight: bold;
	color: #16a085;
}

.date{
	/*background-color: yellow;*/
	text-align: right;
	display: inline-block;
}

.education div{
	width: 50%;
	vertical-align: top;
}

.experience div{
	width: 50%;
	vertical-align: top;
}

body {
	background-color: #F2F2F4;
}

nav{
	width: 100%;
	text-align: center;
	background-color: #16a085;
}

/*nav ul li{
	display: inline-block;
	border: 1px thick;
	background-color: #607D8B;
}*/

body {
	margin-left: 20px;
	margin-right: 20px;
}

body div h2{
	text-decoration: underline;
}





.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 60px;
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  margin: 0 auto;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}
.show {
  background-image: url(assets/down-arrow-icon.png);
}
.hide {
  background-image: url(assets/up-arrow-icon.png);
}

@media only screen {
  .menu { 
    position: relative;
    width: 100%;
  }
  .sitename {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px;
  }
  .menu-items {
    display: none; 
    width: 100%;
    margin-top: 50px;
    background-color: #008378;
  }
  .menu-items li {
    display: block;
    text-align: center;
  }
  .show, .hide {  
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }
}

@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}