/* All style should go in this document. */
.about {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.photo {
    display: inline-block;
}

.aboutInfo {
    display: inline-block;
}
.aboutInfo h4 {
    text-decoration: underline;
    display: inline-block;
}

/* Contact CSS */
.contact {
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top: thick double #607D8B;
}

.contact h2 {
    display: inline-block;
}

.contact p {
    display: inline-block;
    text-align: center;
    padding-left: 6%;
    color: #FFFFFF;
}

.contact p a {
    color: #16a085;
}

.education {
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top: thick double #607D8B;
}

/* Division bars above and below since it is the last section
of the site. */
.experience {
    border-top-width: 1px;
    border-top-style: solid;
    border-top: thick double #607D8B;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom: thick double #607D8B;
}

/* Subtitles for left side of title-date lines */
.title {
    text-align: left;
    display: inline-block;
    font-weight: bold;
    color: #16a085;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

/* Dates for right side of title-date lines */
.date {
    text-align: right;
    display: inline-block;
    color: #16a085;
}

.education div {
    width: 50%;
    vertical-align: top;
}

.experience div {
    width: 50%;
    vertical-align: top;
}

body {
    background-color: #313336;
    padding-top: 50px;

    margin-left: 20px;
    margin-right: 20px;
}

body div h2 {
    text-decoration: underline;
    font-family: ‘Courier New’, Courier, monospace;
    color: #FFFFFF;
}

body div p, body div ul{
    color: #FFFFFF;
}

.navbar-brand{
    font-family: ‘Courier New’, Courier, monospace;
    color: #16a085;
}
#nav-button {
    background-color: #313336;
}

/* Adds a footer with height 40px at the bottom of the page */
.footer {
    width: 100%;
    height: 40px;
}
